 <%= render 'shared/header' %>


<div class="flexbox">
  <div class="container-fluid">
    <div class="row align-items-center">
      <% @prints.each do |print| %>

<!-- Start of Print Card -->
        <div class="col-12 text-center">
        <% if current_user.nil? == false %>
          <%= link_to print_path(print), class: "picture_link" do %>
           <div class="flexbox-edit-delete">
              <p class="bin"><%= link_to image_tag('bin2.png', class: "delete_picture_card"), print_path(print.id), method: :delete, data: {confirm: 'are you sure?'}, class: "delete_pictures_link" %><p>
              <p class="bin"><%= link_to image_tag('pen.png', class: "delete_picture_card"), edit_print_path(print.id) %><p>
           </div>
          <% end %>
        <% end %>
        <div class="cards print">
             <%= link_to print_path(print), class: "picture_link" do %>
            <%= cl_image_tag(print.photo.key, crop: :fill, width: 400) %>
            <div class="card-category">
                <div class="content-text">
                    <h2 class="card-headline"><%= print.name %></h2>
                    <p class ="description-card-text"><%= print.description %></p>
                </div>
            </div>
        </div>
        <% end %>
        <% end %>
<!-- End of Print Card -->
        </div>
    </div>
  </div>
</div>

<script>
  $(".text-center").sortable({});
</script>
