<footer class="footer">
  <div class="footer_links">
  <% if current_user.nil?%>
    <%= link_to "LOGIN", new_user_session_path, class: "footer_link"%>
  <% end %>
  <% if current_user.nil? == false %>
    <%= link_to 'NEW IMAGE', new_picture_path,  class: 'footer_link' %>
    <%= link_to 'NEW PRINT', new_print_path,  class: 'footer_link' %>
    <%= link_to "LOGOUT", destroy_user_session_path, class: "footer_link", :method => :delete %>
  <% end %>
    <%= link_to 'IMPRESSUM', impressum_path,  class: 'footer_link' %>
  </div>
  <div class="copyright_section">
    <%= image_tag('copyright.png', alt: "copyright", id: "copyright")%>
    <p class="footer_name">Lisa Gratzke 2021</p>
  </div>
</footer>
