<header class="navbar_index">
  <div class="content_navbar">
  <%= link_to "HOME", root_path %>
    <%= link_to 'IMAGES', pictures_path,  class: 'content-navbar' %>
    <%= link_to 'PRINTS', prints_path,  class: 'content-navbar' %>
    <%= link_to 'CONTACT', contact_path,  class: 'content-navbar' %>
    <div class="instagram_icon_div">
      <%= link_to image_tag('instagram.png', alt: "", class: "instagram_icon"), "https://www.instagram.com/lisa_luft/", :target => "_blank"%>
      <%= link_to image_tag('instagram_hover.png', alt: "", class: "instagram_icon"), "https://www.instagram.com/lisa_luft/", :target => "_blank"%>
    </div>
  </div>
</header>
