<!-- <div class="page-container"> -->
 <header class="navbar_index">
  <div class="content_navbar">
    <%= link_to 'IMAGES', pictures_path,  class: 'content-navbar' %>
    <%= link_to 'PRINTS', root_path,  class: 'content-navbar' %>
    <a href="">CONTACT</a>
    <div class="instagram_icon_div">
      <%= link_to image_tag('instagram.png', alt: "", class: "instagram_icon"), "https://www.instagram.com/lisa_luft/", :target => "_blank"%>
      <%= link_to image_tag('instagram_hover.png', alt: "", class: "instagram_icon"), "https://www.instagram.com/lisa_luft/", :target => "_blank"%>
    </div>
  </div>
</header>
 <div id="content_wrap">
  <div class="name_index">
    <h1>LISA GRATZKE</h1>
  </div>
  <div class="image_1">
    <%= link_to image_tag('image_1.jpg', alt: "", class: "images image1")%>
  </div>
  <div class="image_2">
    <%= link_to image_tag('image2.jpg', alt: "", class: "images image2")%>
  </div>
  <div class="image_3">
    <%= link_to image_tag('image3.jpg', alt: "", class: "images image3")%>
  </div>
  <div class="image_4">
    <%= link_to image_tag('image4.jpg', alt: "", class: "images image4")%>
  </div>
  <div class="image_5">
    <%= link_to image_tag('image5.jpg', alt: "", class: "images image5")%>
  </div>
  <div class="image_6">
    <%= link_to image_tag('image6.jpg', alt: "", class: "images image6")%>
  </div>
  <div class="image_7">
    <%= link_to image_tag('image7.jpg', alt: "", class: "images image7")%>
  </div>
  <div class="image_8">
    <%= link_to image_tag('image8.jpg', alt: "", class: "images image8")%>
  </div>
  <div class="image_11">
    <%= link_to image_tag('image11.jpg', alt: "", class: "images image11")%>
  </div>
  <div class="description_index">
    <h2>PERSONAL</h2>
    <h3>ARTWORKS</h3>
  </div>
  <%= link_to "More", pictures_path,  class: "more-button" %>
</div>
<!-- </div>
 -->
