<!-- <div id="page-container"> -->
 <div id="content_wrap">
  <div class="name_index">
    <h1>LISA GRATZKE</h1>
  </div>
  <div class="image_1">
    <%= link_to image_tag('image_1.jpg', alt: "", id: "image1")%>
  </div>
  <div class="image_2">
    <%= link_to image_tag('image2.jpg', alt: "", id: "image2")%>
  </div>
  <div class="image_3">
    <%= link_to image_tag('image3.jpg', alt: "", id: "image3")%>
  </div>
  <div class="image_4">
    <%= link_to image_tag('image4.jpg', alt: "", id: "image4")%>
  </div>
  <div class="image_5">
    <%= link_to image_tag('image5.jpg', alt: "", id: "image5")%>
  </div>
  <div class="image_6">
    <%= link_to image_tag('image6.jpg', alt: "", id: "image6")%>
  </div>
  <div class="image_7">
    <%= link_to image_tag('image7.jpg', alt: "", id: "image7")%>
  </div>
  <div class="image_8">
    <%= link_to image_tag('image8.jpg', alt: "", id: "image8")%>
  </div>
  <div class="image_11">
    <%= link_to image_tag('image11.jpg', alt: "", id: "image11")%>
  </div>
  <div class="description_index">
    <h2>PERSONAL ARTWORKS</h2>
  </div>
</div>
<!-- </div>
 -->
